# Lists and Strings
---

## Lists
---

Python Lists are one of the most important data structures. Lists are very flexible versatile and found almost every code in python.

## What are Lists 

In the earlier classes, a variable was used to store an integer or a floating point number. Lists allows us to store more than one data type in an __ordered sequence__.

### Using Lists

A list is an ordered sequence of data. That means we can access data using the index of the data. Since data is saved in an order. Strings are also ordered sequence, but only for characters. Lists are more general and comparable to `ArrayList` in Java , `Vector` of C++, and `Arrays` of C.



Let us create a list to store 5 numbers.

```Python 
my_list = [1, 2, 3, 4, 5]
```

To represent an empty list :
```Python 
my_list = []
```

`Let's see how our print function work with list. Print can output the whole list at once.`

In [1]:
ls = []
ls1 = list()

In [2]:
type(ls)

list

In [26]:
ls = [ 1, 2, 3, 4, "op", True, [1,2,4], sum ]
print ls

[1, 2, 3, 4, 'op', True, [1, 2, 4], <built-in function sum>]

In [27]:
len(ls)

8

In [30]:
ls[0] = "hi"

In [31]:
ls

['hi', 2, 3, 4, 'op', True, [1, 2, 4], 900]

In [1]:
list_1 = [ 1, 2, 3, 4, "op", True, [1,2,4], sum ]
list_2 = list()
list_3 = []

print "List with values: ", list_1
print "Empty list: ", list_2

print "List literal: ", type([10, 20, 30])

List with values:  [1, 2, 3, 4, 'op', True, [1, 2, 4], <built-in function sum>]
Empty list:  []
List literal:  <type 'list'>

In [36]:
ls = [3,4,6,7,2,1]

In [37]:
type(ls)

list

In [3]:
ls = list(range(0,15, 2))

In [4]:
ls

[0, 2, 4, 6, 8, 10, 12, 14]

In [10]:
ls[-1]

14

In [16]:
ls

[0, 2, 4, 6, 8, 10, 12, 14]

In [27]:
ls[1:5:2]

[2, 6]

In [66]:
ls[0:6]

[0, 2, 4, 6, 8, 10]

In [51]:
ls

[3, 4, 6, 7, 1]

In [43]:
n_ls = ls + [10]

In [42]:
ls

[3, 4, 6, 7, 2, 1]

In [44]:
n_ls

[3, 4, 6, 7, 2, 1, 10]

In [81]:
s = "Ariba"

In [105]:
s1 = s.count?

In [ ]:
s1 = s.count

In [109]:
s = "good Today good is a good day!"

In [111]:
s.count?

In [104]:
s.split('_')

['Today', 'is', 'a', 'good day!']

In [90]:
print s

Ariba

In [10]:
ls[3] = 30

In [11]:
list()

[3, 4, 6, 30, 2, 1]

In [26]:
ls = [i for i in range(0,100)]

In [23]:
ls = [3,4,6,7,2,1]

In [28]:
len(ls)

6

In [28]:
ls

[0, 2, 4, 6, 8, 10, 12, 14]

In [30]:
ls.extend(range(0,10))

In [33]:
ls.append(90)

In [38]:
ls.append([78, 89])

In [39]:
ls

[0, 2, 4, 6, 8, 10, 12, 14, 90, 78, 89, [78, 89]]

In [39]:
ls

In [40]:
ls

[3, 4, 6, 7, 2, 1, 'a', 'b']

In [37]:
ps

[3, 4, 6, 7, 2, 1, 10, 10, 10, 'a', ['a', 'b'], 'a', 'b', 'a', 'b']


Since it is an ordered sequence, each entry of a list can be accessed using the name of the list followed by the index/position within square brackets. Remember in programming the index start with 0. List index also start with 0
```Python 
list_1[index]
```

In [55]:
ls = list(range(0,20, 2))

In [56]:
ls

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [42]:
ls.append(0)

In [43]:
ls

[0, 2, 4, 6, 8, 10, 12, 14, 90, 78, 89, [78, 89], 0]

In [55]:
ls.append( [900, 899, 0])

In [63]:
ls.append([10,20])

In [65]:
ls[2:-1]

[4, 6, 8, 10, 12, 14, 16, 18, [900, 899, 0]]

In [41]:
ls = list(range(0,20, 2))

In [44]:
ls.count(0)

2

In [73]:
ls[::-1]

[[10, 20], [900, 899, 0], 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [50]:
a

[4, 6, 8, 10, 12]

In [51]:
ls

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [72]:
ls

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 90]

In [40]:
ls.reverse?

In [82]:
s = "Today is a good day"

In [90]:
s.split()

['Today', 'is', 'a', 'good', 'day']

In [40]:
if s.find('ol')  == -1:
    print "sorry no match"

sorry no match

In [89]:
# Note: the starting index of a list is 0, and not 1
list_1 = [1, 2, 3, 4, 5]

# First element of the list
print list_1[0]

# Third element of the list
print list_1[2]

1
3

In [11]:
s = list_1[7]

In [12]:
s([1,23,90])

114

#### `Tip :  You should always look for corner cases. So here a list take position and is able to fetch the values at that position, So can we think out of the box here ?`

In [91]:
list_1.pop?

In [20]:
# lets try to fetch which is more than the position 
print list_1
print list_1[0]

[1, 2, 3, 4, 'op', True, [1, 2, 4], <built-in function sum>]
1

In [5]:
list_1

[1, 2, 3, 4, 'op']

In [24]:
list_1[0] = -1

In [27]:
print list_1

[-1, 2, 3, 4, 'op', True, [1, 2, 4], <built-in function sum>, 10]

```Python 
"IndexError: list index out of range"```

So we can not access things which are out of the range of list

In [7]:
# What else can you think of ? A char constant 
a = 2
print list_1[a]

3

In [22]:
# A fraction 

print list_1[2]

3

In [10]:
# A negative number 
print list_1
print list_1[-2]

[1, 2, 3, 4, 5]
4

__`Whoa, What just happened? A list accept a negative number as index. That's  a news for us. Can you explore it more on your own `__

In [ ]:

# YOUR CODE HERE

In [19]:
ls = [1,2,3,4,2]
ls.append(6)

In [20]:
ls

[1, 2, 3, 4, 2, 6]

### Lists are Mutable Object 

`you can always change the content of a list`

In [35]:
list1 = [1, 2, 3, 4, 5]

print list1

print "Modifying contents of the list"
list1[0] = -1
list1[2] = 'a'
list1[4] = -5

print list1

[1, 2, 3, 4, 5]
Modifying contents of the list
[-1, 2, 'a', 4, -5]

### Lists support all types

`A list doesn't have to consist of only integers. A list can also hold floating point numbers, strings or even a combination of it all`

In [13]:
print "List of integers"
list1 = [1, 2, 3]
print list1
print "List of floating point numbers"
list2 = [1.1, 2.2, 3.3]
print list2
print "List of strings"
list3 = ["one", "two", "three"]
print list3
print "Heterogenous list of different elements"
list4 = [1, 1.1, "one"]
print list4

List of integers
[1, 2, 3]
List of floating point numbers
[1.1, 2.2, 3.3]
List of strings
['one', 'two', 'three']
Heterogenous list of different elements
[1, 1.1, 'one']

### `Python mean it in serious way , Supporting all types - You can also store functions :)`

In [8]:
# We can also use a list to store functions
list1 = [eval, sum]
print list1

[<built-in function eval>, <built-in function sum>]

In [11]:
print sum([1,2])
list1[1]([1,2])

3

3

In [15]:
# eval and sum are functions in python
x = eval("1")
y = list1[0]("1")
print "Using eval function: Value of x is, ", x
print "Using the first element of the list, which represents eval..",
print "Value of y is, ", y

# Both eval() and list1[0] refer to the same function

Using eval function: Value of x is,  1
Using the first element of the list, which represents eval.. Value of y is,  1

`can you try some more functions ?`

In [ ]:

##YOUR CODE HERE

### Can a list be used to hold anything more than strings, numbers and functions?

`We can even use a list to hold other lists`

In [37]:
list1 = [[[1,2],2], [3,4], [5,6]]

# list1, is a list
print type(list1)

# The first element of list1, is also a list
print type(list1[0][0])
print list1[0][0][0]

<type 'list'>
<type 'list'>
1

In [18]:
list1 = [[1,2], [3,4], []]
# Note, third element in list1 is an empty list!!

# How can we print 4, from within list1?

# Approach 1
list2 = list1[1]
print "Using approach one : ", list2[1]

# Approach 2
print "Using approach two : ", list1[1][1]

Using approach one :  4
Using approach two :  4

### Let's do something with Lists

In [38]:
# Assume we have a list, containing 4 numbers. 
# Let's write a program for each number to hold the sum of the all the numbers suceeding it.

list1 = [1, 2, 3, 4]

print list1
list1[0] = list1[1] + list1[2] + list1[3]
list1[1] = list1[2] + list1[3]
list1[2] = list1[3]
print "Modified list : ", list1

[1, 2, 3, 4]
Modified list :  [9, 7, 4, 4]

### Accessing values of list 
`The value/index within the [ ], we use to select an element from within a list can take different shapes!`

In [19]:

list1 = [1, 2, 3, 4, 5]

# It can be an integer
print "Integer : ", list1[3]

# It can be a variable
x = 0
print "Variable : ", list1[x]

# It can also be an expression
x = 0
print "Expression : ", list1[x+2]

# A function
x = 1
y = 2
print "Function : ", list1[max(x,y)]

Integer :  4
Variable :  1
Expression :  3
Function :  3

`No matter what way we use to access the values within the list, we need to ensure the the value within the [ ] is always an integer.`

`1.2 + 3.8 = 5.0, which is a floating number. Python doesn't implicitly convert 5.0 to 5`

In [41]:
list1 = ["a", "b", "c"]

print list1[1]

b

In [ ]:
list1 = ["a", "b", "c"]

# max function over here returns a floating number
print list1[max(1.0, 3.0)]

In [28]:
l = [1,2,3]
l.append(4)
print l

[1, 2, 3, 4]

## List Iterations

`To iterate over all the elements in a list`

```Python 
for <variable_name> in list:
    block_of_code
```

In [21]:
ls.extend(['a','b'])

In [21]:
# Let's see how we can iterate through the elements of a list

list1 = [[1,2], "one", 1, 2.2, sum]

for item in list1:
    print list1.index(item)
    print item, "Type =>", type(item)

0
[1, 2] Type => <type 'list'>
1
one Type => <type 'str'>
2
1 Type => <type 'int'>
3
2.2 Type => <type 'float'>
4
<built-in function sum> Type => <type 'builtin_function_or_method'>

In [23]:
list1[0][0]

1

In [46]:
list1[0] = 'z'
list1.append(5)
list1.pop(2)
list1.pop?

In [47]:
# Assume we have a list. Write a program to square all the elements of the list.

list1 = [2, 8, 12, 14]

print "Approach 1 ..."
for item in list1:
    print item*item
    
print "Approach 2 ..."
x = 0
for item in list1:
    list1[x] = item*item
    x += 1
print list1


print "Approach 3 ..."
list1 = [2, 8, 12, 14]
for item in list1:
    list1[list1.index(item)] = item*item
print list1

Approach 1 ...
4
64
144
196
Approach 2 ...
[4, 64, 144, 196]
Approach 3 ...
[4, 64, 144, 196]

In [ ]:
### `Can you try various list functions by yourself ?`

# press tab after taking cursor near the dot below, you will be able to see all of them 
list1

In [24]:
for i in range(0, len(list_1)):
    print list1[i]

12

In [ ]:
for item in list_1:
    print item

### Basic functions associated with lists

In [48]:
# len() can be used to find the length of a string

print len(["a", "b", "c"])

list1 = [eval, sum, [1,2], "string"]
print len(list1)

3
4

In [45]:
for i in range(0, len(list1)):
    print list1[i]

[1, 2]
one
1
2.2
<built-in function sum>

In [49]:
# The plus (+) operator concatenates lists in the same way it concatenates strings.

list1 = [1, 2]

list1 + [3, 4]
print list1
# Even though we concatenate the lists, we are not assigning it to a variable!

print list1 + [3,4]
list1.append("hey")
list1

[1, 2]
[1, 2, 3, 4]

[1, 2, 'hey']

In [25]:
list1 = [1, 2]
list2 = [3, 4]

print list1 + list2

[1, 2, 3, 4]

In [54]:
# More operations ...
list1 = [1, 2]

list1 =  list1 + [3, 4]
print list1

list1 += [5, 6]
print list1

list1 = list1 + [7]
print list1

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [26]:
# + operator can only concatenate a list to another list

list1 = [1, 2]
list1 = list1 + [5]

# This will fail!!

In [ ]:
# How to create a list at run-time?

# Let's write a program to read numbers from the user. 
# 1. We can only add positive numbers to the list.
# 2. If the user enters a negative number, we exit and display the list to the user!

list1 = []
x = int(input("Enter number : "))
while (x >= 0):
    list1 += [x]
    x = int(input("Enter number : "))

print "List : ", list1

In [ ]:
# Are there other ways to populate a list?

list1 = list(range(1, 10, 1))
print list1

In [56]:
x = range(0,10)
print type(x)

<type 'list'>

```
range(start, end, step)
```

**start** : It identifies the number to begin with

**end** : It is the last number, before which we want to generate values for.

**step** : Value by which we want to increment/decrement. The default value for step is 1

In [28]:
# Create a list of even numbers from 1 to 10
list1 = list(range(2, 10,))
print list1

# Note : list1 doesn't include value 10!

[2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
list1.sort(reverse=True)

In [53]:
list1

[9, 8, 7, 6, 5, 4, 3, 2]

In [71]:
print a

[7, 6, 5, 4, 3, 2]

In [21]:
# Create a list of odd numbers in decreasing order from 10 to 20
list1 = list(range(19, 9, -2))
print list1

# Note : list1 doesn't include value 9.

[19, 17, 15, 13, 11]

### What will be the output of the following?

```
list(range(6, 3))

list(range(6, 3, 2))
```

In [54]:
x = [1,2]
y = [3,4]

In [61]:
x.extend(y)

In [62]:
print x

[1, 2, 3, 4]

In [22]:
range(6, 3)

[]

### `The * operator `
`list[] * n, it concatenates the list n times`

In [66]:

list1 = ["one", "two"]

list2 = list1*2
print list2

# Both of them do the same thing!
print 100 * [1]
print [1] * 3

['one', 'two', 'one', 'two']
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1]

In [ ]:
# Let's create a program to calculate the average of numbers added by an user!

sizeOfList = int(input("Enter number of elements to compute average for : "))
list1 = []
sumNumbers = 0.0

for x in range(0, sizeOfList, 1):
    item = int(input("Enter number"))
    list1 += [item]
    sumNumbers += item
    
average = sumNumbers/sizeOfList
print "Average of numbers for the list: ",list1," is : ", average

## List representation in memory

![](files/img/list-a.png)

In [46]:
a = [10,20,30]
b=a
c = [10,20,30]
b[2] = 90
print(a)
print(b)

[10, 20, 90]
[10, 20, 90]

In [47]:
d = a[::]

In [51]:
d = []
for i in a:
    d.append(i)

In [48]:
d[0] = -1

In [49]:
a

[10, 20, 90]

In [50]:
d

[-1, 20, 90]

In [107]:
a = [10,20]
ls = [ a, [5], 'ok']
a in ls

True

In [35]:
a = [10,20,30]
b = a
print a
print b

[10, 20, 30]
[10, 20, 30]

In [43]:
b[2] = 90

In [44]:
print a
print b

[10, 20, 90]
[10, 20, 90]

In [75]:
print b

[10, 20, 90]

In [76]:
c = b[2]

In [77]:
c = 900

In [78]:
print a

[10, 20, 90]

In [32]:
print b

[10, 20, 90]

In [ ]:
c = b[2]
print c
c = 4
print c
print a
b[2] = 90
print c

In [ ]:
if a ==b and b ==9 and \

In [46]:
list1 = [1, 2, 3, 5]
list2 = list1
list3 = [1,2,5,3]

print "Is list1 equal to list2 : ", list1 == list2

print "Is list1 an alias to list2 : ", list1 is list2

print list1 is list3

print list1 == list3

Is list1 equal to list2 :  True
Is list1 an alias to list2 :  True
False
False

In [81]:
list2=0

In [47]:
a = "1"
print type(a)
if isinstance(a, str):
    print a

<type 'str'>
1

In [72]:
list1 = ["one", "two", "three"]
list2 = list1


print "Is list1 equal to list2 : ", list1 == list2

print "Is list1 an alias to list2 : ", list1 is list2

Is list1 equal to list2 :  True
Is list1 an alias to list2 :  True

In [73]:
# When two lists are aliases to each other, changing values in one, affects the other

list1 = [1, "two", 3, 4]
print list1

list2 = list1
# Value is changed in list2, but it affects the value of list1
list2[1] = 2
print list1

[1, 'two', 3, 4]
[1, 2, 3, 4]

## Bounds

`As the index is an arbitrary integer, it's value cannot be determining till run-time. If the index if not within the bounds of a list, the interpreter will generate a run-time exception. `

`It is up-to the programmer to ensure that the index input by an user is always within the bounds.`

In [49]:
# If we try to access values which are not within the bounds of a list, 
# we get a OutOfBound access i.e. RunTime Exception

list1 = [10, 20, 30]

# All valid accesses
print list1[0]
print list1[1]
print list1[2]

10
20
30

## Negative indices

Negative indices within a [ ], represent the element from the end of the list.

`list[-1]` represents the last element in lst. 

The expression **`list[-2]`** represents the next to last element

The expression **`list[0]`** thus corresponds to list[-len(list)].

In [74]:
list1 = [10, 20, 30, 40, 50, 60]

list2 = []
#  Print the list contents in reverse using negative indices
start = -1
end = -len(list1) - 1
step = -1
for i in range(start, end, step):
    list2 += [list1[i]]
    # list2 += list1[i], will throw an error as list1[i] is a number and not a list!

print list2

[60, 50, 40, 30, 20, 10]

In [76]:
list1[-5]

20

## Slicing
---

`Slicing can create new list with elements of the existing list. We can Do the slicing as follows : `
```
list1 [ start : end ]
```

- __`list1`__ is a list variable referring to a list

- __`start`__ is an integer representing the start of the slice

- __`end`__ is an integer representing the end of the slice

If missing, the start value defaults to 0. A start value less than zero is treated as zero. 

If the end value is missing, it defaults to the length of the list. An end value greater than the length of the list is treated as the length of the list.

In [22]:
ls = list(range(0,100, 2))

In [33]:
ls[10:20:2]

[20, 24, 28, 32, 36]

In [67]:
ls[23:29:]

[46, 48, 50, 52, 54, 56]

In [82]:
list1 = ["one", "two", "three", "four", "five"]

print "Slice one : ", list1[1:3]
print "Slice two : ", list1[:3]
print "Slice three : ", list1[1:]
print "Slice four : ", list1[-9:9]
print "Slice five : ", list1[:]

Slice one :  ['two', 'three']
Slice two :  ['one', 'two', 'three']
Slice three :  ['two', 'three', 'four', 'five']
Slice four :  ['one', 'two', 'three', 'four', 'five']
Slice five :  ['one', 'two', 'three', 'four', 'five']

In [ ]:
len(li)

In [89]:
for i in range(0, len(list1[0:3])):
    print 'elem is {}'.format(list1[i])

elem is one
elem is two
elem is three

In [34]:
x =  "I am at {} and today is {}"

In [35]:
print x

I am at {} and today is {}

In [36]:
x.format("Ariba", "monday")

'I am at Ariba and today is monday'

In [88]:
for i in list1:
    print('elem is {}'.format(i))

elem is one
elem is two
elem is three
elem is four
elem is five

In [ ]:
if len(list1) ==10:
    print "a"

In [73]:
ls = range(0,100)

In [42]:
ls[:5]

[0, 2, 4, 6, 8]

### Try: Can you check whether the sliced lists are alias?

In [78]:

#Write your code here
print list1
a = list1[0:3]
a[0] = 9
print a
print list1

['one', 'two', 'three', 'four', 'five']
[9, 'two', 'three']
['one', 'two', 'three', 'four', 'five']

__`A list can also be passed as an argument to a function`__

`Write a program to compute the average of a list. The list has to be created by the user at run-time`

In [ ]:
def createList():
    x = int(input("Enter size of list : "))
    list1 = []
    for counter in range(0, x):
        item = int(input("Enter number"))
        list1 += [item]
    return list1

def computeAverage(list2):
    sumValues = 0.0
    for item in list2:
        sumValues += item
        
    lengthOfList = len(list2)
    return sumValues/lengthOfList

def main():
    list1 = createList()
    average = computeAverage(list1)
    print "Average of list ", list1, " is : ", average
    
main()

In [80]:
l = [1,2,3]
sum(l)/float(len(l))

2.0

### Class Exercise 

__`Explore List functions - `__

In [ ]:
# append 
# Extend
# index
# insert
# pop 
# remove

# Strings
---

We have seen a glimpse of strings. Python is used heavily in data processing. 90% of the data on the web is text. Programmatically  if you want to deal with text, strings are your friend. Python Strings have rich features. 

`Later when we will deal with text data, String function will be used extensively.`

In [52]:
a  = "s"
b = 's'
x = "hello"

In [54]:
type(a)

str

In [67]:
y = x.title()

In [65]:
x

'hello'

In [66]:
y

'Hello'

In [72]:
x = "hi its \"mine\" "

In [42]:
ls = [1,2,'3', 'hello']

In [43]:
ls[1] = "world"

In [44]:
ls

[1, 'world', '3', 'hello']

In [58]:
ls = range(0,100, 2)

In [67]:
ls

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [122]:
ls= [1,23,4]
ls.index(230)

ValueError: 230 is not in list

In [120]:
k = 10
def f3():
    print k

def f():
    global k 
    k+=1

def com_avg(*args):
    return sum(args)/float(len(args))

SyntaxError: invalid syntax (<ipython-input-120-539a7fa991cc>, line 1)

In [119]:
k = 10
print f3()
print f()
print f3()

10
None
None
11
None

In [75]:
com_avg(10,20,10,30)

17.5

In [68]:
my_str = "example string"

print (my_str[5:10])

print (type(my_str))

print (my_str[8])

le st
<type 'str'>
s

In [71]:
if my_str.find('hello') > -1:
   pass

9

In [73]:
my_str.find('z')

-1

In [81]:
my_str.upper()

'EXAMPLE STRING'

In [84]:
my_str

'example string'

In [78]:
ls  = [ 10, 20, 30, 40]

In [80]:
if 10 in ls:
    print 'found'

found

In [77]:
if 'ex' in my_str:
    print "found"

found

In [74]:
my_str

'example string'

In [129]:
my_str[3]

'm'

In [128]:
if 'ex' in my_str:
    print 'found e'

found e

In [94]:
my_str.capitalize()

'Example string'

In [86]:
a = u"example string"

In [84]:
if isinstance(ls, list):
    print "is a str"

is a unicode

In [98]:
my_str[0] = "E"

TypeError: 'str' object does not support item assignment

In [91]:
d

'Example String'

In [87]:
my_str[0] = 'E'

TypeError: 'str' object does not support item assignment

In [102]:
print my_str

example string

In [105]:
my_str = "example_csv_string,"
my_str.split('_')

['example', 'csv', 'string,']

In [75]:
l

['example ', ' string,']

In [108]:
import re

`Even the single character is considered a string.`

### What all can be called as strings ?

Following things you can assign to a string :
1. Alphabets (A-Z, a-z)
2. Digits (0-9)
3. Punctuation (., :, ,, etc.)
4. Special symbols (#, &, %, etc.)

To control the text arrangement we use newline and tab , which are also part of strings.
- \n : newline 
- \t : tab

In [130]:
new_str = "this \"string\" has a "
print new_str

this "string" has a

In [87]:
tab_str = u"This string has \n inserted"
print tab_str
print type(tab_str)

This string has
 inserted
<type 'unicode'>

### Similarity to Lists

Strings and Lists have many similar functions and operators. You can access individual elements just like Lists, you can also do slicing of a string.

In [ ]:
print "value of a is "+ str(a) + ""

In [107]:
filename = "log.py"
date = "20/13"
msg = "error happend"
my_str = " {f1} , {date}  msg : {msg} ".format(f1=filename, date=date, msg=msg)
                                                    
my_str

' log.py , 20/13  msg : error happend '

In [108]:
s = "The location of training is {}"

In [110]:
s.format("BTP")

'The location of training is BTP'

###  `Try : Can you do slicing of the above string ? `

In [85]:


## YOUR CODE HERE
my_str[:3]


## calculate len of a string

'exa'

### Strings are immutable objects unlike Lists

In [86]:

my_str = "wlong spelled"


# Lets correct the above string
my_str[1] = 'r'

print my_str

# Please note the error!

TypeError: 'str' object does not support item assignment

In [92]:
l = [1,2,3]

In [94]:
if 10 in l:
    print "hello"

### The in keyword

`We can check if a string is present inside of another string.`

In [110]:
my_str = " A good day "

# Now let's check if "good" is present inside of it 

print "good" in my_str

# Let's see if it is case sensitive

print "Good".lower() in my_str

# This string also has white space, care to check that ?

print " " in my_str

True
True
True

In [107]:
if my_str.find("") > -1:
    print "postive sentence"

postive sentence

In [111]:
my_str.find?

In [91]:
l = [1,23,4]
if 23 in l:
    print '0'

0

`So now you can create a search program, something like this your browser helps you find the words when you hit cntrl+f or command+f in your keyboard.`

__`But How to get the index of the text we are searching for highlighting ?`__

In [112]:
x = dict()

In [113]:
x = {}

In [114]:
d = { "name" : "Ariba", 
     "loc": "blr", 
    "date": "today"}

In [115]:
type(d)

dict

In [124]:
d['name'] = "SAP"

In [126]:
d['place'] = "Ecoworld"

In [132]:
d.items()

[('date', 'today'), ('loc', 'blr'), ('place', 'Ecoworld'), ('name', 'SAP')]

In [136]:
for k,v in d.items():
    print k, v

date today
loc blr
place Ecoworld
name SAP

In [167]:
x = [10,20,30, 30, 20]

In [171]:
s = list(set(x))

In [172]:
s

[10, 20, 30]

In [83]:
my_str[0] = "E"

TypeError: 'str' object does not support item assignment

In [159]:
def fn(x):
    x+=1
    return "done","ok",  x

In [160]:
_ , _ ,  v = fn(10)

11

In [151]:
a

('done', 11)

In [149]:
d

{'date': 'today', 'loc': 'blr', 'name': 'SAP', 'place': 'Ecoworld'}

In [137]:
import json

In [148]:
dj = json.dumps(d)

In [201]:
# writing a file
with open('newfile.txt', 'a') as fp:
    fp.write("Hey I am adding a new line again")
    fp.write("\n")

In [202]:
# reading a file
with open('newfile.txt', 'r') as fp:
    ls = fp.readlines()

In [203]:
ls

['{"date": "today", "loc": "blr", "place": "Ecoworld", "name": "SAP"}\n',
 'Hey I am adding a new line again\n']

In [162]:
type(k)

dict

In [135]:
dj

'{"date": "today", "loc": "blr", "name": "Ariba"}'

In [136]:
dx = json.loads(dj)

In [137]:
dx

{u'date': u'today', u'loc': u'blr', u'name': u'Ariba'}

In [138]:
dx['name']

u'Ariba'

In [132]:
s = x()

In [126]:
print set([1,2,3,3])

set([1, 2, 3])

In [111]:
new = my_str.replace('good', 'nice')
new = str(u'Hey')

In [122]:
def my_fun(b,**abc):
    print abc.keys()
    print abc['name']

In [123]:
my_fun(10, name="Ariba", time="10am", loc="blr")

['loc', 'name', 'time']
Ariba

In [128]:
c = d.get('size' )

In [131]:
import json

In [132]:
type(d)

dict

In [133]:
j = json.dumps(d)

In [134]:
j

'{"loc": "blr", "name": "Ariba", "1.0": "index"}'

In [136]:
d.iteritems

['blr', 'Ariba', 'index']

In [68]:
d = {
    "name": "ariba",
    "loc": "bangalore" 
    }

In [86]:
for k, v in d.items():
    print k, v

loc bangalore
name ariba

In [80]:
for k, v in d.iteritems():
    print k, v

loc bangalore
name ariba

In [76]:
for k,v in d.iteritems():
    print k, v

loc bangalore
name ariba

In [85]:
l = None
if l is None:
    print 'ok'

ok

In [143]:
def funp(x, y):
    x+=1
    y+=1
    return x, y

In [144]:
a,b = funp(10,20)

In [148]:
s = set([1,2,2,3])

In [81]:
type(d)

dict

In [63]:
my_fun(b=10, a=10, c=90, 30)

SyntaxError: non-keyword arg after keyword arg (<ipython-input-63-7bf6f46f6c04>, line 1)

In [149]:
ls = range(0,10)

In [155]:
%%time
res = []
for i in ls:
    res.append(i+10)

CPU times: user 9 s, sys: 4 s, total: 13 s
Wall time: 16 s

In [152]:
res

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [156]:
%time [w+10 for w in ls]

CPU times: user 8 s, sys: 1 s, total: 9 s
Wall time: 12.9 s

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## String Functions

`Strings have a function called replace which let's you replace a part of the string and return a new string.`

In [ ]:
my_str = "A good day"
new_string = my_str.replace('good', 'sunny')
print "old string-- ", my_str
print "new  string-- ",new_string

`There are many other string functions which you can explore on your own. A few like lower(), upper(), etc.`

In [108]:
a = 'hello world!'
l = ['a', 'nice', 'day']
a.split('e')

['h', 'llo world!']

In [101]:
print('A\nB\nC')
print('D\tE\tF')

A
B
C
D	E	F

# List Advance
---

[Check more at Python doc ](https://docs.python.org/2/tutorial/datastructures.html#functional-programming-tools)

**`filter()` :** 

This function evaluate to Boolean `True or False` . It filters out the elements from a sequence which do not satisfy the function passed!

__Syntax  :__ `filter(function, sequence)`

In [ ]:
# filter out odd numbers from a list

def filter_odd_numbers(item) :
    if (item%2) == 0:
        return True
    else:
        return False

list1 = list(range(0,10))
print filter(filter_odd_numbers, list1)

**`map()` :** This function modifies each element of the list with the provided function. 

__Syntax :__ `map(function, sequence)`

In [ ]:
# increment each item of a list by 1

def increment_item(item) :
    return item+1

list1 = list(range(1,10,2))
print "All odd numbers : ", list1
print "All even numbers : ", map(increment_item, list1)

__`reduce()`__ returns a single value by applying a binary function on the values of the sequence, **from left to right**

__Syntax :__ `reduce(function, sequence)`

In [129]:
list1 = [-1, 1, 2, -2, 3, -3]

def add_elements(x, y):
    return x+y

print reduce(add_elements, list1)

0

In [130]:
# Guess the output?

list1 = [3, 4, 5]
def subtract_elements(x, y):
    return x-y

print reduce(subtract_elements, list1)

-6

## Reference

- [Python doc on lists](https://docs.python.org/2/tutorial/datastructures.html)
- [How to think like a computer scientist-Python](http://www.greenteapress.com/thinkpython/thinkCSpy.pdf)

- [LEARNING TO PROGRAM WITH PYTHON](https://www.cs.uky.edu/~keen/115/Haltermanpythonbook.pdf)

In [124]:
l = [1,2,3,4,5]

def f1(i):
    return i+2

def is_even(i):
    return i%2 == 0

map(f1,l)
filter(is_even, l)

[2, 4]

In [122]:
def my_map(f1, l):
    res = []
    for ele in l:
        res.append(f1(ele))
#     your code here
    return res

In [81]:
a = 20.0
b = 40
print "a is {} and b is {}".format(30, a)

a is 30 and b is 20.0

In [88]:
d = {"name": "Ariba", "loc": "Bangalore", 'date':"yesterday"}

In [85]:
d['date']

KeyError: 'date'

In [89]:
d.get('date', "today")

'yesterday'

In [173]:
s = "hello world!"

In [187]:
with open('log.txt', 'w') as fp:
    fp.write(s)
    fp.writelines(['\nline1\n', 'line2\n' ])

In [192]:
with open('log.txt', 'r') as fp:
    line = fp.readline()
    while line:
        print line
        line = fp.readline()

hello world!

line1

line2

In [2]:
import pickle

In [196]:
d

{'date': 'today', 'loc': 'blr', 'name': 'Ariba'}

In [195]:
type(d)

dict

In [199]:
pickle.dump(d, open('my_d.pkl', 'w'))

In [4]:
d = pickle.load(open('my_d.pkl', 'r'))

dict